[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "components/openvent-prototcol"]
	path = components/openvent-prototcol
	url = https://github.com/OpenVentVN/openvent-prototcol.git
